@import "bourbon"
@import "normalize.css"
@import "spinner"

// ===============================
// Fonts
// ===============================

+font-face("montserrat", "../assets/fonts/Montserrat-Regular", $file-formats:ttf)
+font-face("montserrat", "../assets/fonts/Montserrat-Bold", bold, $file-formats:ttf)
+font-face("montserrat", "../assets/fonts/Montserrat-Light", light, $file-formats:ttf)


// ===============================
// Variables
// ===============================

$accent: rgb(242,187,115)	
$accent-light: lighten($accent, 10%)
$accent-dark: darken($accent, 20%)
$bgcolor: rgb(235,235,235)

// ===============================
// Placeholders
// ===============================

%small-bold
	font:
		size: 14px
		weight: 700
	text-transform: uppercase

%skill-color
	background: white
	

// ===============================
// Globals
// ===============================

body 
	font-family: 'montserrat', sans-serif

h3
	@extend %small-bold
	font-size: 28px
	color: $accent
	text-align: center
	padding: 40px

.alt-section
	background-color: $bgcolor
	
a
	text-decoration: none

// ===============================
// Header and Nav
// ===============================

nav
	position: fixed
	right: 0px
	margin: 10px 20px 0 0
	z-index: 999
	color: rgba(white, 0.7)
	
	.nav--container
		+display(flex)
		+flex-direction(column)
		text-align: right
		padding: 8px 0
		border-radius: 2px
		
		.dot
			display: inline-block
			position: absolute
			right: 5px
			margin-top: 6px
			+size(10px)
			border-radius: 50px
			border: 2px solid rgba(white, 0.7)
			+transition()

			&:hover
				background-color: rgba(white, 0.5)


		a
			display: inline-block
			color: rgba(white, 0.7)
			line-height: 1.8
			margin-right: 30px
			text-decoration: none
			@extend %small-bold
			+transition()
		
				
			&:hover
				color: rgba(white, 1)
				
				.dot
					background-color: rgba(white, 0.5)
					
	.is-dark
		a
			color: rgba(darken($bgcolor,70%), 0.7)
		
			&:hover
				color: rgba(darken($bgcolor,70%), 1)
				
				.dot
					background-color: rgba(darken($bgcolor,70%), 0.8) 

			
		.dot
			border: 2px solid rgba(darken($bgcolor,70%), 0.7)
		
			&:hover
				border: 2px solid rgba(darken($bgcolor,70%), 1)
				background-color: rgba(darken($bgcolor,70%), 0.8) 		

header
	height: 100vh
	min-height: 560px
	background: url(../assets/bg.jpg) no-repeat center center /  cover
	color: white
	+display(flex)
	+flex-flow(column nowrap)
	+justify-content(center)
	+align-items(center)
	z-index: -1

	.header-overlay
		position: absolute
		height: 100vh
		min-height: 560px
		width: 100%
		background-color: rgba(black,0.2)
		z-index: 0

	.title-container
		z-index: 1
		
		h1
			text-align: center
			font:
				size: 76px
				weight: 700
			color: white
			text-transform: uppercase
			letter-spacing: 0.05em
			margin-bottom: 10px
			opacity: 0

			span
				display: block
				padding: 0.1em 0.2em
				border: white solid 10px
				border-radius: 2px

			@media screen and (max-width: 824px)
				font-size: 48px
			
			@media screen and (max-width: 516px)
				display: inline-block
				margin: 0 40px

		.kicker
			text-align: center
			font: 
				size: 38px
			text-transform: uppercase
			line-height: 1
			letter-spacing: 0.05em
			color: white
			margin-top: 20px
			opacity: 0
			
			@media screen and (max-width: 824px)
				font-size: 24px



// ===============================
// About Section
// ===============================

#about-me
	min-height: 560px;
	padding-bottom: 40px

.face-lockup
	max-width: 780px
	+display(flex)
	margin: 40px auto
	+align-items(center)
	+justify-content(space-between)


	.face-img
		+size(200px)
		border-radius: 50%
		background: url(../assets/avatar.jpg) center center / cover
		+order(3)


	[class^="icon-"]
		+size(100px)
		background: $bgcolor
		border-radius: 50%
		text-align: center
		line-height: 100px
		font:
			size: 36px
			weight: 700
		color: $accent

		&.icon-pencil
			+order(1)
		&.icon-code
			+order(2)
		&.icon-desktop
			+order(4)
		&.icon-photo
			+order(5)


@media screen and (max-width: 650px)
	.face-lockup
		display: block
		text-align: center

	.face-img
		display: block
		background-position: center center
		background-repeat: no-repeat
		margin: 30px auto

	[class^="icon-"]
		margin: 10px
		display: inline-block


.about
	max-width: 620px
	padding: 0 15px
	margin: 50px auto
	font-size: 24px
	text-align: center
	font-weight: light
	line-height: 2em
	
	strong
		font-weight: bold



// ===============================
// Skills Section
// ===============================

.skill-section
	min-height: 560px
	padding-bottom: 30px
	
	h3
		padding-top: 100px
		
.skill-progress
    position: relative
    left: -10px
    width: 100%
    height: 20px
    background-color: white
    border-radius: 5px
    margin-top: 5px


@for $i from 1 through 10
	.skill-#{$i} 
		position: absolute
		width: percentage($i/10)
		height: 100%
		background-color: $accent


	

.skill-lockup
	max-width: 800px
	margin: 40px auto
	+clearfix

	.skill-unit
		width: 360px
		float: left
		padding: 12px 20px


@media screen and (max-width: 801px)
	.skill-lockup
		width: 400px




// ===============================
// Work Section
// ===============================

.section-work
	min-height: 50vh
	overflow-x: hidden
	padding-bottom: 100px
	
.work-belt
	width: 200%
	position: relative
	left: 0%
	+transition(all 700ms)

.thumb-wrap, .work-wrap
	width: 50%
	float: left
	margin-bottom: 20px

.thumb-container
	+display(flex)
	+justify-content(space-around)
	+align-items(center)
	padding: 0 40px
	
	@media screen and (max-width: 801px)
		+flex-direction(column)
		padding: 0 40px

	.thumb-unit
		width: 33%
		height: 28%
		position: relative
		padding-top: 18%
		overflow: hidden
		+transition(0.4s)
		
		@media screen and (max-width: 801px)
			margin-top: 20px
			width: 100%
			padding-top: 33%

@for $i from 1 through 6
	.thumb-#{$i}
		background:
			image: url(../assets/proj-#{$i}/thumb.jpg)
			position: center center
			repeat: no-repeat
			size: cover
			
		.thumb-overlay
			+position(absolute, 0% 0px null 0px)
			height: 100%
			background: fade-out($accent, 0.1)
			text-align: center
			+transition(0.4s)
			+display(flex)
			+align-items(center)
			+justify-content(space-around)
			opacity: 0

			strong
				padding: 20px 20px
				display: block
				color: $accent-dark
				font-weight: light
				text-transform: uppercase
				color: $bgcolor
				font-size: 26px
				line-height: 1.2

		&:hover .thumb-overlay
			+position(absolute, 0% 0px 0px 0px)
			// +transform(rotateX(0deg))
			opacity: 1


.work-container
	max-width: 600px
	margin: 0px auto
	position: relative
	display: none;

	.work-return
		font-size: 28px
		color: rgba(0,0,0,0.4)
		+position(absolute, 4px null null -35px)
		cursor: pointer

		&:hover
			opacity: 0.7
			
	h4
		color: $accent
		font-weight: light
		font-size: 28px
		line-height: 1.2
		text-transform: uppercase
		margin 0 0 20px

	img
		max-width: 100%

@media (max-width: 740px)
	
	.work-container
		.work-return
			left: 0px

		h4
			margin-left: 35px


// ===============================
// Contact Section
// ===============================

#contact
	min-height: 90vh

.section-contact
	text-align: center
	padding-bottom: 40px
	
	h3
		margin-bottom: 0
	
.social-links
	max-width: 500px
	margin: 0px auto 50px
	+display(flex)
	+justify-content(space-around)

	a
		display: block
		background: $accent
		+size(50px)
		line-height: 50px
		color: white
		border-radius: 50%
		font-size: 28px
		+transition(0.4s)

		&:hover
			+transform(scale(1.2))
			background-color: $accent-dark

.bar
	width: 250px
	height: 0px
	border: 4px solid $accent
	margin: 0px auto 40px

.biglink
	display: inline-block
	color: $accent
	font:
		size: 48px
		weight: 300
		style: italic
	line-height: 1
	+transition(0.4s)
	
	&:hover
		color: $accent-dark
		
	@media screen and (max-width: 620px)
		font-size: 38px

.section-form
	padding-top: 40px

form
	max-width: 450px
	margin: 0 auto
	padding-bottom: 100px
	
	input, textarea
		border: 3px solid $accent
		width: 100%
		box-sizing: border-box
		padding: 10px
		margin-top: 10px		

		&:focus
			outline: none
			border-color: $accent-light
	
	textarea
		height: 10em
		margin-bottom: 10px

	.submit-wrap
		text-align: right
		

	[type='submit']
		background: $accent
		color: white
		font-size: 18px
		text-transform: uppercase
		width: 60%
		+display(flex)
		+justify-content(center)
		margin-left: auto
		margin-right: auto
		border-radius: 3px
		opacity: 0
		+transition(0.4s)
			
		&:hover
			background: $accent-light
		
		
	.contact-info-group

		label
			width: 50%
			float: left
			box-sizing: border-box

			&:nth-child(1)
				padding-right: 10px
			&:nth-child(2)
				padding-left: 10px

	label
		display: block
		margin-bottom: 20px

		span
			display: block


// ===============================
// Footer Section
// ===============================

footer
	min-height: 10vh
	background: #000 url(../assets/bg.jpg) top right / 250%

	.lockup
		padding: 50px 50px
		text-decoration: none
		overflow: hidden
		+clearfix

	.content-wrap
		float: left

		.copyright
			margin: 0
			text-transform: uppercase
			font-size: 12px
			color: rgba(255,255,255,0.4)
		
		a
			text-decoration: none
			@extend %small-bold
			color: rgba(255,255,255,0.7)
			display: inline-block
			margin-right: 30px

			&:hover
				color: rgba(255,255,255,1)
				

